<div *ngIf="activity" class="thumbnail">
  <div class="title row">
    <div class="col-md-6 text-left"><span class="label">{{activity.status}}</span></div>
    <div class="col-md-6 text-right"><span class="label label-default right">{{activity.date | date: "yyyy-MM-dd"}}</span></div>
  </div>
  <div class="count" role="button" (click)="gotoUsers()"><span>参与人数：</span><span class="badge">{{activity.parts}}</span></div>
  <img src="/assets/images/icon-new.png" alt="..." class="icon">
  <div class="content">
    <h4>{{activity.name}}</h4>
    <p>{{activity.desc}}</p>
  </div>
  <div class="row actions">
    <span class="col-md-3"><i class="fa fa-qrcode" title="推广二维码"></i></span>
    <span class="col-md-3"><a [routerLink]="['activity/detail', activity.id]"><i class="fa fa-edit" title="编辑"></i></a></span>
    <span class="col-md-3"><i class="fa fa-eye" title="3D图片墙"></i></span>
    <span class="col-md-3"><a [routerLink]="['../live']"><i class="fa fa-tv" title="大屏幕"></i></a></span>
  </div>
</div>
