/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  background-color: #e1e1e8;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* . . . */
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
.activity .thumbnail {
  padding: 0px;
  font-size: 12px;
}
.activity .thumbnail .icon {
  margin-top: 20px;
  max-width: 130px;
  max-height: 130px;
}
.activity .thumbnail .title {
  padding: 5px;
  font-size: 14px;
}
.activity .thumbnail .count {
  background-color: #607d8b;
  padding: 10px;
  color: white;
}
.activity .thumbnail .count .badge {
  float: right;
}
.activity .thumbnail .content {
  padding: 10px;
}
.activity .thumbnail .actions {
  padding: 10px 25px;
}
.activity .thumbnail .actions span {
  display: table-cell;
  width: 1%;
  text-align: center;
}
.activity .thumbnail .actions .fa {
	font-size: 14px;
}

.app-live {
  background-color: red;
  background: red url('../images/s-bg.jpg') repeat repeat 0 0;
}

.radius-num {
  width: 30px; height: 30px; background-color: #5cb85c; border-radius: 15px;
}
.radius-num > span {
  height: 30px; line-height: 30px; display: block; color: #FFF; text-align: center
}

.table.schedule > tbody > tr > td {
  line-height: 28px;
}

/**
 CONSOLE
*/
.console > .nav > li {
  display: table-cell !important;
  width: 1%;
}
.console > .nav > li > a {
  margin: 0px;
}
