<div *ngIf="activity" class="console navbar-fixed-bottom">
  <ul class="nav nav-pills nav-justified" role="tablist">
    <li routerLinkActive="active"><a [routerLink]="['schedule']">日程</a></li>
    <li routerLinkActive="active"><a [routerLink]="['screen']">大屏幕</a></li>
    <li routerLinkActive="active"><a href="javascript:;">审核</a></li>
    <li routerLinkActive="active"><a href="javascript:;">中奖</a></li>
  </ul>
</div>
<h1 *ngIf="activity" class="text-center">{{activity.name}}</h1>
<router-outlet></router-outlet>