<div class="btn-group">
  <button type="button" class="btn btn-warning" (click)="addNormalSchedule()">普通节目</button>
  <button type="button" class="btn btn-warning" (click)="modal.open()">摇摇乐</button>
  <button type="button" class="btn btn-warning" (click)="modal.open()">抽大奖</button>
  <button type="button" class="btn btn-warning" (click)="modal.open()">跑步游戏</button>
  <button type="button" class="btn btn-warning" (click)="modal.open()">幸运数字</button>
</div>
<table class="table schedule">
  <thead>
    <th style="width: 20px;"></th>
    <th></th>
    <th style="width: 125px;"></th>
  </thead>
  <tbody>
    <tr *ngFor="let item of schedules; let i = index">
      <td>
        <div radius [content]="i + 1"></div>
      </td>
      <td>普通节目 - <span>{{item.name}}</span></td>
      <td>
        <a class="btn btn-xs btn-success"><i class="fa fa-edit"></i> 编辑</a>
        <a class="btn btn-xs btn-danger" (click)="delete(item)"><i class="fa fa-edit"></i> 删除</a>
      </td>
    </tr>
  </tbody>
</table>
 
<modal #normalSchedule>
  <form *ngIf="schedule" (ngSubmit)="onSubmit()" #activityForm="ngForm" class="form-horizontal" role="form">
    <modal-header [show-close]="true">
      <h4 class="modal-title">普通节目</h4>
    </modal-header>
    <modal-body>
      <app-alert [alert]="alert"></app-alert>
      <div class="form-group" [class.has-error]="!(name.valid || name.pristine)">
        <label for="name" class="col-sm-2 control-label">标题</label>
        <div class="col-sm-10">
          <input type="text" required [(ngModel)]="schedule.name" name="name" class="form-control" #name="ngModel" placeholder="标题">
        </div>
      </div>
      <div class="form-group">
        <label for="desc" class="col-sm-2 control-label">描述</label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="schedule.desc" name="desc" class="form-control" id="desc" placeholder="描述">
        </div>
      </div>
      <div class="form-group">
        <label for="date" class="col-sm-2 control-label">时间</label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="schedule.startTime " mask='00:00 - 00:00' name="date" class="form-control" id="date" placeholder="时间">
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="normalSchedule" (click)="normalSchedule.dismiss()">取消</button>
      <button type="submit" class="btn btn-primary" [disabled]="!activityForm.form.valid">保存</button>
    </modal-footer>
  </form>
</modal>
