<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">活动详细信息</span>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <!--<li><a routerLink="/activity/add" routerLinkActive="active"><i class="fa fa-plus" aria-hidden="true"></i> 新建</a></li>-->
    </ul>
  </div>
</nav>
<app-alert [alert]="alert"></app-alert>
<div *ngIf="activity" class="panel panel-default">
  <div class="panel-heading">{{activity.name}}</div>
  <div class="panel-body">
    <activity-form [activity]="activity" (backEvent)="goBack($event)" (saveEvent)="toSave($event)" (deleteEvent)="toDelete($event)"></activity-form>
  </div>
</div>

<div *ngIf="activity" class="panel panel-default">
  <div class="panel-heading">日程安排</div>
  <div class="panel-body">
    <schedule [activity]="activity"></schedule>
  </div>
</div>

