<div *ngIf="msg" class="alert alert-success" role="alert">{{msg}}</div>
<div class="panel panel-default">
  <div class="panel-heading">签到人员信息</div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>头像</th>
          <th>昵称</th>
          <th>签到时间</th>
          <th>角色</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer text-right">
    <button (click)="goBack()" class="btn btn-warning">返回</button>
  </div>
</div>