<app-alert [alert]="alert"></app-alert>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">签到人员信息</span>
    </div>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div>
</nav>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>头像</th>
          <th>昵称</th>
          <th>签到时间</th>
          <th>角色</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users; let i=index">
          <td>{{i + 1}}</td>
          <td></td>
          <td>{{item.name}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer text-right">
    <button (click)="goBack()" class="btn btn-warning">返回</button>
  </div>
</div>