<div bodyStyle [body-class]="['live-check-in']">
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="title">
        <h1 *ngIf="activity">{{activity.name}}</h1>
      </div>
      <div class="qr-code">
        <img *ngIf="qrCode" [attr.src]="qrCode.url" />
        <h2>微信扫码签到</h2>
      </div>
      <div class="counter" *ngIf="activity">
        <span>{{activity.parts}}</span> 人
      </div>
      <div class="company-logo">
        <img src="/assets/images/logo.png" />
      </div>
    </div>
    <div class="col-md-9 users">
      <ul class="row" *ngIf="users">
        <li *ngFor="let item of users">
          <img [attr.src]="item.headImgUrl" />
          <span class="name">{{item.name}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>